{% extends 'catalog/base.html' %}
{% block content%}
<div class="col-12 text-center">
    {% include "catalog/includes/inc_catalog_header.html" with title=title header="Заметки о жизни морских обитателей и водоплавающих птиц"%}

    <!-- Превью постов-->
    <div class="row mt-3">
        <div class="container">
            <div class="row row-cols-3">
                {% for post in posts %}
                <div class="col mb-3">
                    <div class="card border-secondary">
                        <div class="card-header bg-info-subtle">Статья {{ post.pk }}</div>
                        <img src="{{ post.preview.url }}" alt="" height="250"
                                class="card-img-top rounded">
                        <div class="card-body">
                            <h5 class="card-title mt-2">{{ post.title }}</h5>
                            <p class="card-text text-secondary">{{ post.body|safe|truncatechars:100 }}</p>
                            <a href="{% url 'blog:post_detail' post.pk %}" class="btn btn-info">Читать</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class='row mt-5'>

            <!--Пагинатор-->
        <div class="col-12">
            {% include "catalog/includes/inc_catalog_pages.html" with page=page_obj %}

<!--            Переход на форму добавления нового поста-->
                <a href="{% url 'blog:create_post' %}" class="btn btn-info">Добавить новый пост</a>
        </div>
    </div>
</div>
{% endblock %}