{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-12">
    {% include "catalog/includes/inc_catalog_header.html" with title=title header=post.title %}
    <div class="row mt-5">
            <div class="col-12 d-flex justify-content-around">
                <h5>Вы действительно ходите удалить <strong>{{ post.title }}</strong>?</h5>
                <form method="post">
                    {% csrf_token %}
                    <a href="{% url 'blog:posts_list' %}" class="btn btn-info">Отменить</a>
                    <button type="submit" class="btn btn-warning">Подтвердить</button>
                </form>
            </div>
    </div>
</div>
{% endblock %}