{% extends 'catalog/base.html' %}
{% block content%}
<div class="col-12 text-center">
    {% include "catalog/includes/inc_catalog_header.html" with title=title header=user.username %}
    <div class="mt-3 card text-center border-info mb-3">
        <div class="card-header bg-dark border-info mb-3">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active bg-info text-dark" href="#">Основные данные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-info" href="{% url 'users:user_update' user.pk %}">Изменить</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled text-info" aria-disabled="true">Сменить логин/пароль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled text-info" aria-disabled="true">Удалить профиль</a>
                </li>
            </ul>
        </div>
           {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

        <div class="card-body">
            <h5 class="card-title">ФИО: {% if user.first_name and user.last_name %}{{ user.first_name }} {{ user.last_name}}{% else %}Не указано{% endif %}</h5>
            <img src="{{ user.avatar.url }}" class="rounded" alt="..." width="120" height="120">
            <p class="mt-3 card-text">Моя почта: {{ user.email }}</p>
            <p class="card-text">Мой телефон: {% if user.phone_number %}{{ user.phone_number }}{% else %}Не указано{% endif %}</p>
            <p class="card-text">Страна проживания: {% if user.country %}{{ user.country }}{% else %}Не указано{% endif %}</p>

            <a href="{% url 'catalog:home' %}" class="btn btn-info">На главную</a>
        </div>
    </div>
</div>
{% endblock %}