{% extends 'catalog/base.html' %}
{% block title%}{{ title }}{% endblock %}
{% block content%}
    <!--    Основная колонка -->
        <div class="col-12">
            {% include "catalog/includes/inc_catalog_header.html" with title=title header="Заполните форму обратной связи"%}

            <div class="row mt-3">
                <div class="container">
                    <div class="row row-cols-2">
                        <div class="col">
                            <!-- Форма обратной связи-->
                            <form method="post" action="" class="form-floating">
                                <!-- Токен-->
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="name"><strong>Ваше имя</strong></label>
                                    <input type="text" name="name" class="form-control border-info" id="name"
                                       placeholder="Иван" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email"><strong>Почта</strong></label>
                                    <input type="email" name="email" class="form-control border-info" id="email"
                                       placeholder="name@example.com" required>
                                </div>
                                <div class="mb-3">
                                    <label for="message" class="form-label"><strong>Сообщение</strong></label>
                                    <textarea name="message" class="form-control border-info" id="message"
                                          placeholder="Введите текст"
                                          rows="3" required>

                                    </textarea>
                                </div>
                                <button type="submit" class="btn btn-info">Отправить</button>
                            </form>
                        </div>

                    <!--Контакты-->
                        <div class="col mt-1 p-4"><h2>Наши контакты</h2>
                            <p class="fst-italic text-secondary">С 1980-х годов в глубоких водах Тихого океана путешествует
                            единственный в своем роде кит, поющий на 52-герцевой частоте.
                            День за днем он надеется
                            услышать ответ на свой призыв.</p>

                            <strong>Мы готовы ответить на ваши вопросы в любое время суток!</strong>
                        </div>
                    </div>
                </div>
            </div>
                              <!--Представление данных из БД по обращениям пользователей-->
                        {% if contacts.count > 2 %}
                        <div class="row">
                            <div class='col-12, mt-5'>
                                <h2>Список обращений пользователей</h2>
                                <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Почта</th>
                                    <th scope="col">Сообщение</th>
                                </tr>
                                </thead>
                                {% for contact in contacts %}
                                <tbody>
                                <tr>
                                    <td>{{ contact.id }}</td>
                                    <td>{{ contact.name }}</td>
                                    <td>{{ contact.email }}</td>
                                    <td>{{ contact.message }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                </table>

                            </div>
                        </div>
                        {% endif %}
        </div>
{% endblock %}