{% extends 'catalog/base.html' %}
{% block title%}Главная{% endblock %}
{% block content%}
        <div class="col-12 text-center">
            <h1 class="display-4">Главная</h1>
            <div class="row text-secondary text-center">
                <h5>Вы находитесь на сайте, предназначенном для продажи товаров</h5>
            </div>

            <!-- Карточки подборок товаров-->
            <div class="row mt-3">
                <div class="container">
                    <div class="row row-cols-3">
                        <div class="col mb-3">
                            <div class="card border-info">
                                <div class="card-header">Бестселлеры</div>
                                <div class="card-body">
                                    <h5 class="card-title">Товар 1</h5>
                                    <h3>100$</h3>
                                    <p class="card-text text-secondary">Очень полезная вещь</p>
                                    <a href="#" class="btn btn-info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card border-info">
                                <div class="card-header">Скидки недели</div>
                                <div class="card-body">
                                    <h5 class="card-title">Товар 1</h5>
                                    <h3>100$</h3>
                                    <p class="card-text text-secondary">Очень полезная вещь</p>
                                    <a href="#" class="btn btn-info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card border-info">
                                <div class="card-header">Последний шанс купить</div>
                                <div class="card-body">
                                    <h5 class="card-title">Товар 1</h5>
                                    <h3>100$</h3>
                                    <p class="card-text text-secondary">Очень полезная вещь</p>
                                    <a href="#" class="btn btn-info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}