{% extends 'catalog/base.html' %}
{% block title%}Главная{% endblock %}
{% block content%}
        <div class="col-12 text-center">
            <h1 class="display-4">Главная</h1>
            <div class="row text-secondary text-center">
                <h5>Вы находитесь на сайте, предназначенном для продажи товаров</h5>
            </div>
<!--{{ product.description|truncatechars:100 }}-->
            <!-- Карточки подборок товаров-->
            <div class="row mt-3">
                <div class="container">
                    <div class="row row-cols-3">
                        {% for product in products %}
                        <div class="col mb-3">
                            <div class="card border-info">
                                <div class="card-header">{{ product.category }}</div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <h3>{{ product.price }}$</h3>
                                    <p class="card-text text-secondary">{{ product.description|truncatechars:20 }}</p>
                                    <a href="#" class="btn btn-info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}