{% extends 'catalog/base.html' %}
{% block content%}
<div class="col-12 text-center">
    <h1 class="display-4">Товар №{{ product.pk }}</h1>
    <div class="row text-secondary text-center">
        <h5>Характеристики товара</h5>
    </div>
    <!-- Карточки подборок товаров-->
    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-center">
            <div class="card border-info" style="width: 25rem;">
                <img src="{{ product.image.url }}" class="card-img-top" alt="preview" height="300">
                <div class="card-header">Категория: {{ product.category }}</div>
                <div class="container d-flex justify-content-end text-danger mt-1">
                    {% if product.is_new %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor"
                         class="bi bi-fire" viewBox="0 0 20 20">
                        <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                    </svg>
                    NEW
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text text-secondary">{{ product.description}}</p>
                    <h3>{{ product.price }} $</h3>
                    {% if user == product.owner or perms.catalog.can_unpublish_product and perms.catalog.can_delete_product %}
                    <!--Кнопка редактировать-->
                    <a href="{% url 'catalog:update_product' product.pk %}" class="btn btn-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                        </svg>
                    </a>
                    <!--Кнопка удалить-->
                    <a href="{% url 'catalog:delete_product' product.pk %}" class="btn btn-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                        </svg>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <a href="javascript:history.back()" class="btn btn-info">Назад</a>
            <a href="{% url 'catalog:add_product' %}" class="btn btn-info">Добавить новый товар</a>
        </div>
    </div>
</div>
{% endblock %}