{% extends 'catalog/base.html' %}
{% block title%}Создание нового товара{% endblock %}
{% block content%}
<div class="col-12">
    <h1 class="display-4 text-center">Заполните форму</h1>
    <div class="row mt-3">
        <div class="container">
            <div class="row row-cols-2">
                <div class="col">
                    <!-- Форма создания нового товара пользователем -->
                    <form method="post" action="" class="form-floating">
                        <!-- Токен-->
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name"><strong>Наименование продукта</strong></label>
                            <input type="text" name="name" class="form-control border-info" id="name"
                                   placeholder="Мяч резиновый" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label"><strong>Описание продукта</strong></label>
                            <textarea name="message" class="form-control border-info" id="description" rows="3" required>
                            </textarea>
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label"><strong>Фотография товара (необязательно)</strong></label>
                                <input class="form-control border-info" type="file" id="image">
                            </div>
                            <div class="mb-3">
                                <label for="category"><strong>Категория</strong></label>
                                <select class="form-select border-info" name="category" aria-label="category" id="category" required>
                                        <option selected>Выберите из списка</option>
                                        <option value="1">Дельфины и пингвины</option>
                                        <option value="2">Медведи и зайки</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="price"><strong>Стоимость</strong></label>
                                <input type="text" name="price" class="form-control border-info" id="price"
                                       placeholder="100" required>
                            </div>
                            <a href="{% url 'home' %}" class="btn btn-info">Назад</a>
                            <button type="submit" class="btn btn-info">Создать продукт</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

