{% extends 'catalog/base.html' %}
{% block title%}{{ title }}{% endblock %}
{% block content%}
<div class="col-12">
    {% include "catalog/includes/inc_catalog_header.html" with title=title header="Заполните форму для добавления нового товара"%}

    <div class="row mt-3">
        <div class="container">
            <div class="row row-cols-2">
                <div class="col">
                    <!-- Форма создания нового товара пользователем -->
                    <form method="post" action="" class="form-floating">
                        <!-- Токен-->
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="name"><strong>Наименование продукта</strong></label>
                            <input type="text" name="name" class="form-control border-info" id="name"
                                   placeholder="Мяч резиновый" required>
                        </div>
                        <div class="mb-4">
                            <strong>Описание продукта</strong>
                            <div class="form-floating">
                                    <textarea name="description" class="form-control border-info" id="floatingTextarea2" style="height: 100px" required></textarea>
                                    <label for="floatingTextarea2">Введите текст</label>
                                </div>
                        </div>

                            <div class="mb-4">
                                <label for="image" class="form-label"><strong>Фотография товара (необязательно)</strong></label>
                                <input class="form-control border-info" type="file" id="image">
                            </div>
                            <div class="mb-4">
                                <label for="category"><strong>Категория</strong></label>
                                <select class="form-select border-info" name="category" aria-label="category" id="category" required>
                                        <option selected>Выберите из списка</option>
                                        <option value="1">Дельфины и пингвины</option>
                                        <option value="2">Медведи и зайки</option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="price"><strong>Стоимость</strong></label>
                                <input type="text" name="price" class="form-control border-info" id="price"
                                       placeholder="100" required>
                            </div>
                            <a href="{% url 'home' %}" class="btn btn-info">Назад</a>
                            <button type="submit" class="btn btn-info">Создать продукт</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

