{% extends 'catalog/base.html' %}
{% block title%}{{ title }}{% endblock %}
{% block content%}
<div class="col-12">
    {% include "catalog/includes/inc_catalog_header.html" with title=title header="Заполните форму для добавления нового товара"%}

    <div class="row mt-3">
        <div class="container">
            <div class="row row-cols-2 d-flex justify-content-center">
                <div class="col">
                    <!-- Форма создания нового товара пользователем -->
                    <form method="post" enctype="multipart/form-data" action="" class="form-control border-info bg-info-subtle">
                        <!-- Токен-->
                        {% csrf_token %}
                        {{ form.as_p}}
                            <div class="col-12 mt-3 d-flex justify-content-between">
                            <a href="{% url 'home' %}" class="btn btn-info">Назад</a>
                            <button type="submit" class="btn btn-info">Создать продукт</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

